# C. 세트 메소드

## set_obj.add(obj)

In [2]:
a_set = {1, 2, 3}
a_set.add(4) 		# 세트에 4를 추가한다.
a_set

{1, 2, 3, 4}

## set_obj.clear()

In [3]:
a_set.clear()
a_set

set()

## set_obj.copy()

In [7]:
a_set = {1, 2, 3}
b_set = a_set.copy()

{1, 2, 3}

## set_obj.difference(other_set)

In [8]:
a_set = {1, 2, 3, 4}
b_set = {3, 4, 5, 6}
c = a_set.difference(b_set)
print(c) 			            # {1, 2} 출력
print(b_set.difference(a_set)) 	# {5, 6} 출력

{1, 2}
{5, 6}

In [9]:
print(a_set - b_set) 	# {1, 2} 출력

{1, 2}

## set_obj.difference_update(other_set)

In [10]:
a_set -= b_set 		# a_set에 차이를 담는다.
a_set

{1, 2}

## set_obj.discard(obj)

In [11]:
a_set = {'Moe', 'Larry', 'Curly'}
a_set.discard('Curly')
print(a_set) 				# {'Moe', 'Larry'} 출력

{'Larry', 'Moe'}

## set_obj.intersection(other_set)

In [12]:
a_set = {1, 2, 3, 4}
b_set = {3, 4, 5, 6}
print(a_set.intersection(b_set)) 	# {3, 4} 출력

{3, 4}

In [13]:
print(a_set & b_set) 	# {3, 4} 출력

{3, 4}

## set_obj.intersection_update(other_set)

In [15]:
a_set &= b_set 	# 교집합 결과를 a_set에 넣는다.
a_set

{3, 4}

## set_obj.issubset(other_set)

In [17]:
{1, 2}.issubset({1, 2, 3}) 	# True 반환.

True

In [18]:
{1, 2}.issubset({1, 2}) 		# 물론, True 반환.

True

## set_obj.issuperset(other_set)

In [20]:
{1, 2}.issuperset({1}) 		# True 반환.

True

In [21]:
{1, 2}.issuperset({1, 2}) 	# 물론, True 반환.

True

## set_obj.pop()

In [22]:
a_set = {'Moe', 'Larry', 'Curly'}
stooge = a_set.pop()
print(stooge, a_set)

Larry {'Curly', 'Moe'}

## set_obj.symmetric_difference(other_set)

In [23]:
a_set = {1, 2, 3, 4}
b_set = {3, 4, 5, 6}
print(a_set.symmetric_difference(b_set))

{1, 2, 5, 6}

In [24]:
print(a_set ^ b_set) 	# {1, 2, 5, 6} 출력

{1, 2, 5, 6}

## set_obj.symmetric_difference_update(other_set)

In [26]:
a_set ^= b_set 	# 대칭 차집합 결과를 a_set에 저장한다.
a_set

{1, 2, 3, 4}

## set_obj.union(other_set)

In [27]:
a_set = {1, 2, 3, 4}
b_set = {3, 4, 5, 6}
print(a_set.union(b_set)) 	# {1, 2, 3, 4, 5, 6} 출력

{1, 2, 3, 4, 5, 6}

In [28]:
print(a_set | b_set) 		# {1, 2, 3, 4, 5, 6} 출력

{1, 2, 3, 4, 5, 6}

## set_obj.union_update(other_set)

In [29]:
a_set |= b_set 		# 합집합 결과를 a_set에 넣는다.

In [30]:
a_set = {1, 2, 3}
a_set |= {200, 300}
print(a_set) 		# {1, 2, 3, 200, 300} 출력

{1, 2, 3, 200, 300}